<app-navbar></app-navbar>

<h1> Contact Us!</h1>
<h3> Dartmouth Taekwondo</h3>


<p>
    16 E Wheelock St, <br>Hanover, NH 03755<br>
  <br><a href="mailto:b1479396@urhen.com">Email us</a> or 
  <a href="https://m.me/Dartmouth.TKD">send a Facebook message</a>!

</p>
<div class="container">
  <img src="assets/images/map.png" alt="Map">
  <div class="middle">
    <a href="https://www.google.com/maps/place/Alumni+Gymnasium/@43.7032125,-72.2857372,17.23z/data=!4m5!3m4!1s0x0:0x7d5a2f468a6dd885!8m2!3d43.703042!4d-72.284106" class="button">Open in Maps</a>
  </div>
</div>

