<app-navbar></app-navbar>
<h1 class="center"> Contact Us!</h1>
<br><br>

<mat-grid-list cols="5" >
  <mat-grid-tile colspan="2" rowspan="1">
    <div>
      <h2> Dartmouth Taekwondo</h2>
      <p>
        16 E Wheelock St, <br>Hanover, NH 03755<br>
        <br><a href="mailto:b1479396@urhen.com">Email us</a> or 
        <a href="https://m.me/Dartmouth.TKD">send us a Facebook message</a>!
      </p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="1">
      <div style="width: 100%;">.</div>
      
      <a href="https://www.google.com/maps/place/Alumni+Gymnasium/@43.7032125,-72.2857372,17.23z/data=!4m5!3m4!1s0x0:0x7d5a2f468a6dd885!8m2!3d43.703042!4d-72.284106">
        <!-- Open in Maps -->
        <img src="assets/images/map.png" alt="Map" >
      </a>

  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="1">
      <p class="center">
        <a href="https://www.facebook.com/Dartmouth.TKD/" class="fa fa-facebook"></a>&nbsp;&nbsp;
        <a href="https://www.youtube.com/channel/UCrlh1mtupiJglrNipPvNNew" class="fa fa-youtube"></a>
      </p>
  </mat-grid-tile>
</mat-grid-list>
