<app-navbar></app-navbar>
<h1>About Us</h1>

<mat-grid-list cols="2" rowHeight="2 : 1">
  <mat-grid-tile>
      <p>
          Dartmouth Tae Kwon Do is a student-run organization 
          that was founded in 1984. Presently, Dartmouth TKD 
          practices the official South Korean and now Olympic 
          (IOC) recognized form of Tae Kwon Do, the Kukkiwon World 
          Taekwondo Federation (WTF) style.
      </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="assets/images/dcn19w.jpg"> 
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="assets/images/cornell16f.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
        We compete in the Eastern Collegiate Taekwondo Conference 
        (ECTC) every term for both sparring and poomsae. <br><br>
        Fun fact: Brothers Sung Chul Whang and Jun Chul Whang, the founders
        of the Dartmouth Taekwondo Team, began the first ECTC match 
        in the winter of 1983 when they competed against Yale's Taekwondo 
        team and Princeton's Tangsoodo team on a weekend trip! More details 
        of this can be found <a href="https://www.ectc-online.org/history">here</a>.
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>
        We also perform demonstrations at events such as Dartmouth's annual 
        Korean Culture Night. Previous performances have included kpop performances, 
        wood breaking, coordinated sparring matches, blindfold breaking, and more!
        <br><br>
        Everyone is welcome, beginners included! For more information, check out 
        <a href="/faq">faq page</a>!
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://media.giphy.com/media/MB0ZJSeTQnD94iErES/giphy.gif">
  </mat-grid-tile>
</mat-grid-list>