<app-navbar></app-navbar>

<h1>About Us</h1>
<p>
  Dartmouth Tae Kwon Do is a student-run organization 
  that was founded in 1984. Presently, Dartmouth TKD 
  practices the official South Korean and now Olympic 
  (IOC) recognized form of Tae Kwon Do, the Kukkiwon World 
  Taekwondo Federation (WTF) style, employing full contact 
  and "modern training methods". We compete in the Eastern 
  Collegiate Taekwondo Conference (ECTC) and perform 
  demonstrations at events such as Dartmouth's annual 
  Korean Culture Night.
</p>
