* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
} 

.imgbox {
  display: grid;
  height: 100%;
  position: relative;
  text-align: center;
  background-color: black;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

h1 {
  color: white;
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}

  /* Animations */
  
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

  