<!-- <head>
    <script src="jquery-2.1.4.js"></script>
    <script src="typed.js"></script>
</head>
<body> --> 
<div class="imgbox">
    <a href="/about"> -->
            <img class="center-fit animate-pop-in" src="assets/images/tournament.jpg" alt="Taekwondo">
        <div class="centered-text"><h1>Dartmouth Taekwondo</h1></div>   
    </a>
</div> 
    <!-- <div id="typed-strings">
            <p>Typed.js is a <strong>JavaScript</strong> library.</p>
            <p>It <em>types</em> out sentences.</p>
        </div>
        <span id="typed"></span>
    <script>
        $('document').ready(function(){
            var typed = new Type('#typed', {
                stringsElement: '#typed-strings',
                backSpeed: 40,
                typeSpeed: 40
            })
        });
    </script>
</body>




</body> -->