<div class="imgbox">
    <img class="center-fit animate-pop-in" src="assets/images/tournament.jpg" alt="Taekwondo">
    <div class="centered-text"><h1>Dartmouth Taekwondo</h1></div>   

</div>

<!-- <script>
        var typed = new Typed('#typed', {
          stringsElement: '#typed-strings'
        });
      </script>

<div id="typed-strings">
        <p>Typed.js is a <strong>JavaScript</strong> library.</p>
        <p>It <em>types</em> out sentences.</p>
    </div>
    <span id="typed"></span> -->