<app-navbar></app-navbar>
<h2>Still need to contact us?</h2>
  <p class="centered-text"><a href="localhost:4200/contact">Send us your concerns!</a>
  <br><br></p>
<h2>~~~Introduction~~~</h2>
<p>
  <b>I don't know much about taekwondo...what is it?</b><br>
  Taekwondo is a modern Korean form of martial arts that literatlly translates to 'the way of the fist and foot.'
  It not only involves learning to kick and punch, but also incorporates self-discipline and respect.
  <br><br>
  <b>So, what's practice like?</b><br>
  Practices generally involve conditioning, practice kicks, poomsae, and sparring! Because the club's meeting
  times are short, we highly recommend members to condition their bodies outside of practice times as well.
  <br><br>
  <b>What's poomsae?</b><br>
  Poomsae is a set of coordinated movements that follow a specific defense-and-attack pattern. It's best understood 
  through observation, which can be seen <a href="https://www.youtube.com/watch?v=-fJfuu2cr5M&list=PL3gtQIW6CkF48vAb5JwS4FQ347hdiG7AT&index=9">here</a>!
  <br><br>
  <b>Did you say sp-sp-sparring?</b><br>
  Yup! Sparring (or <i>kyorugi</i>) is essentially free-form fighting, although it follows a set of rules and customs to minimize 
  injuries within the sparring ring.
  <br><br>
  <b>What style of taekwondo does Dartmouth practice?</b><br>
  We practice WT-style taekwondo (World Taekwondo, formerly the World Taekwondo Federation (WTF)).
</p>
<h2>~~~Experience Level~~~</h2>
<p>
  <b>Umm...I never did taekwondo (or any martial arts before). Can I still join?</b> <br>
  Yes! We are extremely beginner friendly :) Out of the eight devoted 22s that joined last fall,
  half of them had minimal to no martial arts experience.
  <br><br>
  <b>And if I have martial arts experience?</b>
  <br>We have our fair share of 1st, 2nd, and 3rd Dan black belts that will provide
  quality and affordable instruction! They will adapt their teaching style based on your experience level. 
  We also always welcome members with experience to teach the club alongside our other black belt members!
  <br><br></p>
<h2>~~~Tournament Logistics~~~</h2>
<p>
  <b>I'd love to test my skills out! Does Dartmouth's Taekwondo team compete against other schools?</b>
  Yes! We are part of the Eastern Collegiate Taekwondo Conference (ECTC), which hosts Olympic-style sparring 
  and forms competition at all levels. We encourage everyone to participate in the ECTC tournaments in order to 
  gain experience and inspiration, all the while supporting the team! <br><br>
  In particular, Dartmouth generally competes in three tournaments over the school year:<br>
</p>
<p class="centered-text">
  <b>FALL:</b> MIT Tournament<br>
  <b>WINTER:</b>  Princeton Tournament<br>
  <b>SPRING:</b>  UVM Tournament<br><br>
</p>
<p>
Specific dates will be announced earlier in the term once the dates have been confirmed.
</p>
<h2>~~~Safety~~~</h2>
  <p>
  <b>But I'm fragile...</b><br>
  So are we :) 
  <br><br>
  <b>...can't tolerate pain well...</b><br>
  All practices are always staffed with at least one Safety Officer 
  certified in CPR and First Aid. Most practices average around 2 (so you can have your personal vendetta
  against the other 0:)
  <br><br> </p>
<h2>~~~Club Dues~~~</h2>


<p>
  <b>How much is all of this?</b><br>
    To ensure the club can afford sparring gear, paddles, and other amenities (e.g. cool jackets) for its members,
    club dues are unfortunately a reality. Club dues are <b>$30 per term</b>, with an <b>additional $20 </b>if you compete in a tournament that term. 
    (Members typically have to pay $30 to compete in a ECTC tournament, but the club will subsidize $10 for each member.)
    <br><br>For new members, this includes a new uniform and an accompanying belt. If you choose to compete in sparring(which we highly recommend!), we will provide
    you with a new mouth guard and the necessary sparring gear. 
  <br><br>
  <b>I can't afford to pay this...</b><br>
  Don't worry! We understand some members may not be able to afford this, and money is the last reason we want to dissuade any indiviual from
  joining our community :) If you have any financial difficulties, please reach out to the Treasurer!
</p>
<br>
  <h2>Wow this seems exciting! Any parting words?</h2>
  <p>
  Join for the kicks! But in all honesty, we're a loving and supporting community that's always got your back
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <i class="em em-heavy_heart_exclamation_mark_ornament"></i>
</p>
