<app-navbar></app-navbar>
<h1 class="center"> Photo Gallery</h1>

<mat-grid-list cols="3" >
<!-- Tournament Photos -->
  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo0.jpg" alt="Tournament Group Photo">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <h2 class="top">Tournaments!</h2>
    <img src="assets/images/photo4.jpg" alt="Rine with paddles">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo5.jpg" alt="Princeton Group Photo">
  </mat-grid-tile>

<!-- Tournament Poomsae -->

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo2.jpg" alt="Gabe's poomsae">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <h2 class="top">Poomsae</h2>
      <img src="assets/images/photo8.jpg" alt="KK's poomsae">
    </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo3.jpg" alt="Irene's poomsae">
  </mat-grid-tile>

  <!-- Tournament Sparring -->

  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo6.jpg" alt="Tournament sparring">
    </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <h2 class="top">Sparring</h2>
      <img src="assets/images/photo31.jpg" alt="Tournament sparring">
    </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo32.jpg" alt="Tournament sparring">
    </mat-grid-tile>

<!-- Post-Tournament Fun -->
  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo9.jpg" alt="Ruffling Dae's hair">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <h2 class="top">Post-Tournament Fun</h2>
    <img src="assets/images/photo10.jpg" alt="Dae's done">
  </mat-grid-tile>
  
  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo7.jpg" alt="UVM Group Lunch">
    </mat-grid-tile>

  <!-- Pumpking Picking -->
  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo11.jpg" alt="Vanessa bestowing the crown">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <h2 class="top">Fall Social</h2>
    <img src="assets/images/photo12.jpg" alt="Group photo with pumpkins">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo33.jpg" alt="Pumpkin selfie">
  </mat-grid-tile>

  <!-- Belt Test -->
  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo13.jpg" alt="Belt test white belt kicking air">
    </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <h2 class="top">Belt Test</h2>
    <img src="assets/images/photo14.jpg" alt="Belt test instructors bored">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo15.jpg" alt="Belt test hogu line">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo16.jpg" alt="Belt test sparring">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo17.jpg" alt="Belt test more insane sparring">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo19.jpg" alt="Belt test hammering a board">
  </mat-grid-tile>

<!-- Demos/Performances -->
<mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo35.jpg" alt="Jacob floating">
  </mat-grid-tile>

<mat-grid-tile colspan="1" rowspan="1">
    <h2 class="top">Demos/Performances</h2>
  <img src="assets/images/photo36.jpg" alt="End poomsae">
</mat-grid-tile>

<mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo37.jpg" alt="KK warriro">
  </mat-grid-tile>

<mat-grid-tile colspan="1" rowspan="1">
  <img src="assets/images/photo38.jpg" alt="Gabe">
</mat-grid-tile>

<mat-grid-tile colspan="1" rowspan="1">
  <img src="assets/images/photo39.jpg" alt="Tanvir the knapsack">
</mat-grid-tile>

<mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo40.jpg" alt="Servants around Charity">
  </mat-grid-tile>


  <!-- Meet the Team -->

  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo18.jpg" alt="Vanessa and KG">
    </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <h2 class="top">Meet the Team!</h2>
    <img src="assets/images/photo21.jpg" alt="Jacob">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo22.jpg" alt="Jen">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo23.jpg" alt="Lorraine and Dae">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo24.jpg" alt="Jen and Daisy">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo25.jpg" alt="Helen and friend">
    </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo26.jpg" alt="KG">
    </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo27.jpg" alt="Irene">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo28.jpg" alt="KK and Rine">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo29.jpg" alt="Jacob and Oliver">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <img src="assets/images/photo30.jpg" alt="Maxine and KG">
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
      <img src="assets/images/photo34.jpg" alt="Gabe">
    </mat-grid-tile>


</mat-grid-list>
